#############
## Python
#############

*.py[co]
*.pkl
*.~*

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
__pycache__/
test/__pycache__

# virtualenv
venv/

# Unit test / coverage reports
.coverage
.tox

# project specific
easysetup/__pycache__/
easysetup/doc/
easysetup/pythonhosted.org/*.zip
easysetup/appinfo.py
easysetup/AUTHORS.txt
easysetup/ChangeLog.txt
easysetup/LICENSE.txt
easysetup/README.txt
